:root {
    --darkgreen:rgb(1, 27, 10);
    --textgreen:rgb(110, 253, 158);
    --highlightgreen:rgb(230, 255, 238);
    --txt:font-family: Menlo, 'Courier New', Courier, monospace;
}

* {
    background-color: var(--darkgreen);
    font-family: 'Menlo', 'Courier New', Courier, monospace;
    font-size: 15px;
    color: var(--textgreen);
    box-sizing: border-box;
}

body {
    padding: 30px 90px 30px 30px;
    }

header {
    width: 100%;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

header li #highScore {
    flex: 1;
}

header li #timerShow {
    flex: 1;
}

.main {
    padding: 100px 30%;
    align-content: center;
}